@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background: #000;
	color: #fff;
}

header {
	margin-top: 1.55rem;
	text-align: center;
}

footer {
	text-align: center;
}

.wrapper {
	margin: 2rem auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #333;
	border-radius: 1rem;
	width: 85%;
	text-align: center;
}
.wrapper h1,
.wrapper h2,
.wrapper h3 {
	margin-bottom: 1rem;
}

.search {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 2rem;
	width: 100%;
}

.search input {
	border: 1px solid #333;
	outline: none;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	padding: 1rem;
	font: 1rem 'Poppins', sans-serif;
}

.search button {
	cursor: pointer;
	border: 1px solid #333;
	outline: none;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	padding: 1rem;
	background-color: #2a4be0;
	color: #fff;
	font: 1rem 'Poppins', sans-serif;
}

img {
	width: 150px;
	height: auto;
	-webkit-filter: invert(100%); /* Safari/Chrome */
	filter: invert(100%);
	animation-name: rotating;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes rotating {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

a {
	color: #fff;
	text-decoration: none;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* background-color: red; */
	color: white;
	text-align: center;
}
